.main {
    display: grid;
    position: relative;
    grid-template-rows: min-content;
    grid-template-columns:
        [sidebar-start] 3rem [sidebar-end full-start] minmax(6rem, 1fr)
        [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
        )
        [center-end] minmax(3rem, 1fr) [full-end];

    // @include respond (bigger-phone) {
    //     grid-template-rows: 1fr 2fr min-content;
    //     grid-template-columns:
    //         [sidebar-start] [sidebar-end full-start] minmax(1rem, 1fr)
    //         [center-start] repeat(
    //             8,
    //             [col-start] minmax(min-content, 14rem) [col-end]
    //         )
    //         [center-end] minmax(1rem, 1fr) [full-end];
    // }
}

.section-hero {
    grid-column: full-start / -1;

    @include respond(bigger-phone) {
        height: 70vh;
    }
    @include respond(tab-port-height) {
        height: 40vh;
    }
}

.section-courses {
    grid-column: sidebar-end / center-end;
    margin: 10rem 0 4rem 0;
    
    .courses {
        color: $color-grey-dark-2;

        &__title--box {
            @extend .heading-3;
            display: grid;
            text-align: center;
            
        }

        &__subHeading {
            color: $color-grey-dark-1;
        }
    }
}


.section-vision {
        grid-column: sidebar-end / center-end;
        margin: 10rem 0;

}
.section-bookUs{
        grid-column: sidebar-end / center-end;
        margin: 10rem 0;
}

.section-footer {
    background: $color-secondary-dark;

    display: grid;
    padding: 10rem 0;

    grid-template-columns:
        [sidebar-start] 3rem [sidebar-end full-start] minmax(6rem, 1fr)
        [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
        )
        [center-end] minmax(3rem, 1fr) [full-end];
}

%heading {
    font-family: $font-primary;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;

    font-size: 4rem;
    // color: $color-grey-light-1;
    line-height: 1;
    text-transform: uppercase;
}

.heading-2 {
    @extend %heading;
    font-size: clamp(2rem, 4vw, 2.1vw);
    font-style: italic;
    font-weight: 700;

    // &__light {
    //     color: $color-grey-light-1;
    // }

    // &__dark {
    //     color: $color-grey-dark-1;
    // }
}

.heading-3 {
    @extend %heading;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7;
}

.heading-4 {
    @extend %heading;
    font-size: 2rem;
    font-weight: bold;

    &__light {
        text-transform: uppercase;
        color: $color-grey-light-1;
    }

    &__dark {
        text-transform: uppercase;
        color: $color-grey-light-2;
    }
}

.btn {
    border: 1px solid $color-secondary;
    text-transform: uppercase;
    border-radius: 0.7rem;
    padding: 0.7rem 1.7rem;
    cursor: pointer;
    color: black;
    transition: all 0.2s;
    font-family: $font-primary;
    margin: 0.2rem;
    font-size: 1.4rem;
    font-weight: 500;

    &:hover,
    &:active {
        border: none;
        outline: none;
        background-color: $color-secondary;

        span {
            color: white;
        }
    }
}

.button {
    background-color: $color-primary-dark;
    text-transform: uppercase;
    border-radius: none;
    padding: 1.5rem 3.5rem;
    cursor: pointer;
    color: #fff;
    border: none;
    transition: all 0.2s;
    font-family: $font-primary;

    &:hover,
    &:active {
        border: none;
        outline: none;
        background-color: darken($color-primary-dark, 30%);
    }

    @media only screen and (max-width: 28em) {
        padding: 1rem 2rem;
    }
}

.mb-sm {
    margin-bottom: 2rem;
}

.mb-md {
    margin-bottom: 3.5rem;
}

.mb-lg {
    margin-bottom: 7.5rem;
}
