// COLOR VARIABLES
$color-secondary: #db222a;
$color-secondary-dark: #160606;

$color-primary: #1f7a8c;
$color-primary-dark: #053c5e;
$color-primary-dark-2: #101d2c;

$color-grey-dark: #252424;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aba7a7;
$color-grey-dark-1: #54483a;
$color-grey-dark-2: #070707;

$color-error: #582424;

$box-shadow: 3px 3px 10px 8px $color-primary-dark;

$linear-gradient: linear-gradient(to right, $color-secondary, black);

// FONT VARIABLES
$font-primary: 'Montserrat', sans-serif;
$font-clamp: clamp(1.5rem, 1.5vw, 1.5vw);
$font-clamp1: clamp(1rem, 1.5vw, 1.5rem);
