.about {
    grid-column: sidebar-start / full-end;

    display: grid;
    align-items: center;

    header {
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // background: $linear-gradient1;
        background: $linear-gradient1, url(../../assets/teens3.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 40vh;
        background-size: cover;
        display: grid;
        justify-items: center;
        align-items: center;

        h2 {
            @extend .heading-1;
            font-size: 3rem;
            color: white;
            font-weight: 800;
        }
        @include respond(tab-port) {
            height: 20vh;
        }
    }
}
