.about {
    grid-column: sidebar-start / center-end;
    height: 100vh;

    display: grid;
    align-items: center;

    header {
        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: $linear-gradient;

        img {
            display: none;
        }
    }
}