.about {
    grid-column: sidebar-start / center-end;
    height: 100vh;

    display: grid;
    align-items: center;

    header {
        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: $linear-gradient;
        background-image: linear-gradient(to right, rgba(24, 4, 1, 0.884), rgba(31, 12,122,.2)), url(../../assets/teens3.png);
        height: 40vh;

        
    }
}