.bookUs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

    &__1 {
        display: grid;
        align-items: center;
        padding: 0 6rem;

        &--item {
            display: grid;
            font-size: clamp(1.4rem, 3vw, 1vw);

            h1 {
                @extend .heading-1;
                font-size: 2rem;
                line-height: 2;
                font-weight: 600;
                background: $linear-gradient;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        @include respond(bigger-phone) {
            padding: 2rem 0;
            gap: 3rem;
            grid-row-start: 2;
        }
    }
    &__btn {
        justify-self: start;
        display: flex;
        align-items: center;
        margin-top: 3rem;
        font-size: $font-clamp;
        background: $color-secondary;
        color: white;
        text-transform: capitalize;

        span {
            display: flex;
            //  color: $color-secondary;
            animation: moveInLeft 2s infinite;
            margin-top: -0.12rem;
        }
    }
}
