.checkout {
    margin: 14rem 0;
    display: grid;
    grid-column: full-start / center-end;
    gap: 2rem;
    justify-content: center;

    &__header {
        font-size: 2rem;
        text-transform: uppercase;
        background: $linear-gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }

    h4{
        font-size: 1.4rem;
         text-transform: uppercase;
        background: $linear-gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__select {
        width: 30rem;
        outline: none;
        padding: 1rem 3rem;
        cursor: pointer;
        margin-bottom: 3rem;

        option {
            padding: 3rem;
            font-size: 1.2rem;
        }
    }

    &__details {
        display: grid;

        h3 {
            font-size: 1.7rem;
            text-transform: capitalize;
        }

        p {
            font-size: 1.5rem;
            font-weight: 500;
        }

        &--items {
            padding-bottom: 2rem;
        }
    }

    &__btn {
        font-weight: 500;
        color: white;
        background: $color-secondary;
    }

    &__paymentType {
        border-top: 1px solid $color-grey-light-2;
        border-bottom: 1px solid $color-grey-light-2;
        padding: 1rem 0;
        
        p {
            font-size: 1.4rem;

            span {
                font-size: 1.5rem;
                font-weight: 500;
            }
        }
    }
}
