.checkout {
    margin: 10rem 0;
    display: grid;
    grid-column: full-start / center-end;
    gap: 3rem;

    h3 {
        font-size: 2rem;
        background: $linear-gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
