.footer {
    display: grid;
    grid-column: sidebar-end / center-end;

    &__main {
        color: $color-grey-light-2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    &__item {
        font-weight: 500;
        font-size: $font-clamp1;
            line-height: 2.1;

        ul {
            list-style: none;

            & > :link,
            & > :visited {
                padding: 0.2rem 0;
                display: grid;
                color:  $color-grey-light-2;
                text-decoration: none;
                align-items: center;
            }
        }
    }

    &__social {
        
            width: 100%;
            border-top: 2px solid $color-grey-light-2;
            display: flex;
            color: $color-grey-light-2;
            justify-content: space-between;

            &--items{
                display: flex;
                align-items: center;
            }
    }

    &__mobileNav {
        display: none;
        background-color: $color-secondary-dark;
        padding: 1rem 0;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        justify-content: space-evenly;
        font-weight: 500;

        & > :link,
        & > :visited {
            display: grid;
            text-decoration: none;
            font-size: 2rem;
            justify-items: center;
            color: $color-grey-light-2;

            p {
                font-size: 1.4rem;
            }
        }

        // @include respond(bigger-phone) {
        //     display: flex;
        // }
    }
}
