.footer {
    &__mobileNav {
        display: none;
        background-color: #160606;
        padding: 1rem 0;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        justify-content: space-evenly;
        font-weight: 500;

        & > :link,
        & > :visited {
            display: grid;
            text-decoration: none;
            font-size: 2rem;
            justify-items: center;
            color: #aba7a7;

            // background: $linear-gradient;
            // background-clip: text;
            // -webkit-text-fill-color: transparent;
            p {
                font-size: 1.4rem;
            }
        }

        @include respond(bigger-phone){
            display: flex
        }
    }
}
