.contact-box {
    display: grid;
    justify-items: center;
    grid-column: 1 / -1;
    margin: 7rem 0;
    width: 100%;
    gap: 3rem;

   h3{
       font-size: 2rem;
   }

    &__details {
        display: grid;
        font-size: 1.3rem;
        grid-template-columns: min-content min-content;
        gap: 1rem;
        font-weight: 700;
        margin-top: 6rem;
        justify-content: center;
        align-items: center;

        svg{
            color: $color-secondary;
        }

    }
}
.contact-form {
    display: grid;
    grid-column: 1 / -1;

    grid-template-columns: min-content;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    width: 50vw;

    font-size: 1.4rem;
    font-weight: 500;

    &__item {
        width: 100%;
    }
    &__input {
        width: 35rem;
        border-radius: 1rem;
        outline: none;
        border: 1px solid black;
        padding: 1rem 2rem;
        font-size: 1.4rem;

        @include respond(bigger-phone) {
            width: 20rem;
        }
    }
    &__btn {
        padding: 1rem 3rem;
        justify-self: center;
        cursor: pointer;
        outline: none;
        border-radius: 2rem;
        font-size: 1.3rem;
        font-weight: 500;
        color: white;
        background: $linear-gradient;
    }
}

.form__displayError {
    font-size: 1.2rem;
    background-color: rgb(158, 26, 26);
    color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
}
.form__displayMessage {
    font-size: 1.2rem;
    background-color: rgb(4, 58, 16);
    color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
}
