.header {
    position: absolute;
    top: 0;
    left: 3rem;
    right: 0;
    z-index: 10;
    display: grid;
    grid-template-columns:
        min-content minmax(min-content, 11rem) minmax(min-content, 1fr)
        minmax(min-content, 1fr);
    align-items: center;
    justify-items: center;
    font-size: 1.3rem;
    max-width: 120rem;
    margin: 0 auto;

    &__homenav {
        text-decoration: none;
        background: $linear-gradient;
        color: white;
        font-weight: 600;
        padding: 0.5rem 1rem;
        border-radius: 0.7rem;
    }

    &__list {
        padding-left: 1rem;
        width: 90%;
        display: flex;
        list-style: none;
        color: $color-grey-dark;
        background: rgb(238, 237, 237);
        border-radius: 0.7rem;
        font-weight: 600;
        justify-content: space-between;
        align-items: center;

        li {
            & > :link,
            & > :visited {
                text-decoration: none;
                color: black;
            }
        }
        &--auth {
            background: $linear-gradient;
            color: white !important;
            justify-self: stretch;
            display: grid;
            padding: 0.5rem 1rem;
            border-radius: 0.7rem;
        }

        @include respond(tab-port) {
            display: none;
        }
    }
    &__input-box {
        display: flex;
        align-items: center;
        position: relative;
        justify-self: stretch;

        &--input {
            border-radius: 3rem;
            padding: 0.7rem 1rem;
            outline: none;
            border: 1px solid rgb(63, 62, 62);
            width: 100%;
            padding-left: 2.5rem;
        }
        &--searchIcon {
            position: absolute;
            width: 3rem;
        }
    }

    @include respond(tab-land) {
        top: 1rem;

        &__logo {
            height: 5rem;
        }
    }
}
