.header {
  

    &_input{
        border-radius: 3rem;
        padding: .7rem 1rem;
        outline: none;
        border: 1px solid black;
        width: 100%;
    }

    &_list{
        display: flex;
    }

}

