.hero {
    height: 100%;
   
    display: grid;
    grid-template-columns: 1fr 1.7fr;

    &_img {
        max-width: 100%;
        display: block;
        float: right;
    }

    &_box {
        display: grid;
        //background-color: white;
        width: 100%;
        justify-self: start;
        height: 100%;

        &--title {
            font-weight: 700;
            font-size: 4rem;
            color: $color-grey-light-1;
            color: black;
        }

        &--text {
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
    &_svg {
        justify-self: stretch;
        display: grid;
        height: 100%;
        // background-image: url('../../assets/herowave1.png');
        // background-repeat: no-repeat;
    }
}

