.modal {
    position: relative;

     & > :link,
    & > :visited {
        text-decoration: none;
        color: $color-grey-dark;
    }

    .category{
        background-color: yellow;
        position: absolute;
        top: 0;
    }
}