.modal {
    position: relative;

    & > :link,
    & > :visited {
        text-decoration: none;
        color: $color-grey-dark;
    }

    .category {
        position: absolute;
        z-index: 2;
        top: 3rem;
    }
    
    .categoryModal {
        width: 3vw;
        list-style: none;
        background: $color-grey-light-2;
        padding: 1rem .3rem;
        border-radius: .5rem;

        li {
            & > :link,
            & > :visited {
                text-decoration: none;
                color: $color-grey-dark;
                width: 89rem;
            }
        }
    }

    &_spacer{
        width: 5rem;
        height: 2rem;
        position: absolute;
    }
}
