.team {
    display: grid;
    justify-items: center;
    margin: 5rem 0;

    &__heading{

    }

    &__profiles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    }

    &__profile {

        img {
            width: 100%;
            height: 100%;
        }
    }
}