.team {
    margin: 10rem 3rem;
    display: flex;
    flex-direction: column;
    // max-width: 37.5rem;
    min-width: 20.3rem;
    transition: all 3s;

    &__heading {
        text-align: center;
        margin-bottom: 2rem;

        h1 {
            @extend .heading-2;
            text-transform: uppercase;
        }

        p {
            font-size: 1.4rem;
        }
    }

    &__profiles {
        position: relative;
        display: flex;
        transition: all 3s;
    }

    &__profile {
        animation: slideShow 25s linear infinite;
        border-radius: 1rem 1rem 0 0;
        width: 100%;
        transition: all 3s;

        //margin: 2rem;

        &--details {
            text-align: center;
            padding: 1rem;
        }
    }
    &__img {
        width: 320px;
        height: 260px;

        @include respond(phone) {
            width: 280px;
            height: 260px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}
