.vision {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

    &__1 {
        border-radius: 2rem;
        overflow: hidden;
        box-shadow: 2px 3px 9px 0px #898787;
        background: $linear-gradient;
    }
    &__2 {
        display: grid;
        align-items: center;
        padding: 0 6rem;

        &--item {
            display: grid;
            font-size: clamp(1.4rem, 3vw, 1vw);

            h2 {
                @extend .heading-2;
                background: $linear-gradient;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            p {
                font-weight: 300;
            }
        }

        @include respond(bigger-phone) {
            padding: 2rem 0;
            gap: 3rem;
        }
    }
}
